body
{
    background-color: antiquewhite;
    margin: 0;
}

header
{
    background-color: aquamarine;
    padding: 5px;
    text-align: center;
    top: 0;
    width: 100%;
}

article
{
    background-color: lightyellow;
    width: 60%;
}

aside
{
    padding: 5px;
}

aside li
{
    list-style: disc;
    text-overflow: ellipsis;
}

h2
{
    color: black;
    text-align: center;
    line-height: 0;
}

footer
{
    bottom: 0;
    background-color: aquamarine;
    padding: 5px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.aside-izq
{
    background-color: burlywood;
    border: 1px solid brown;
    width: 10%;
}

.aside-der
{
    background-color: whitesmoke;
    border: 1px solid grey;
    position: relative;
    width: 30%;
}

.texto-centro
{
    text-align: center;
}

.etiquetas-datos
{
    bottom: 0;
    font-size: 1rem;
    left: 0;
    line-height: 1rem;
    padding: 5px;
    position: absolute;
}

.precio
{
    left: auto;
    right: 0;
}

.unidades
{
    content: attr(uds) " uds";
}

#contenedor
{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    width: 100%;
}

/* Resetear posición de la lista */
#categoriasLista
{
    padding-left: 0;
}

#categoriasLista li
{
    list-style: none;
    padding-left: 15px;
}

#subcontenedor
{
    background-color: bisque;
    font-size: 1.2em;
    height: 100%;
    position: relative;
    width: 100%;
}

#subcontenedor table
{
    margin: auto;
    width: 100%;
}

#subcontenedor a
{
    color: black !important;
    display: block;
}

#boton
{
    text-align: center;
}

#botonRecargarTienda
{
    bottom: 0;
    position: absolute;
}

#subcontenedor a, #carrito a
{
    text-decoration: none;
}

#carrito a
{
    color: blue !important;
    display: table;
}

#carrito
{
    padding-bottom: 2em;
    width: 100%;
}
